<div class="notes-container">
    <header>
        <h1>Notes</h1>
    </header>
    <div class="notes">
        <div class="note">
            <div class="note-header">
                <h2>Title of the note</h2>
                <div class="note-actions">
                    <button class="note-edit-button">Edit</button>
                    <button class="note-delete-button">Delete</button>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus pharetra nibh id consequat.</p>
        </div>
        
        <div class="note">
            <div class="note-header">
                <h2>Title of the note</h2>
                <div class="note-actions">
                    <button class="note-edit-button">Edit</button>
                    <button class="note-delete-button">Delete</button>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus pharetra nibh id consequat.</p>
        </div>
        <div class="note">
            <div class="note-header">
                <h2>Title of the note</h2>
                <div class="note-actions">
                    <button class="note-edit-button">Edit</button>
                    <button class="note-delete-button">Delete</button>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus pharetra nibh id consequat.</p>
        </div>
        <div class="note">
            <div class="note-header">
                <h2>Title of the note</h2>
                <div class="note-actions">
                    <button class="note-edit-button">Edit</button>
                    <button class="note-delete-button">Delete</button>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus pharetra nibh id consequat.</p>
        </div>
        <div class="note">
            <div class="note-header">
                <h2>Title of the note</h2>
                <div class="note-actions">
                    <button class="note-edit-button">Edit</button>
                    <button class="note-delete-button">Delete</button>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus pharetra nibh id consequat.</p>
        </div>
        <div class="note">
            <div class="note-header">
                <h2>Title of the note</h2>
                <div class="note-actions">
                    <button class="note-edit-button">Edit</button>
                    <button class="note-delete-button">Delete</button>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus pharetra nibh id consequat.</p>
        </div>
        <div class="note">
            <div class="note-header">
                <h2>Title of the note</h2>
                <div class="note-actions">
                    <button class="note-edit-button">Edit</button>
                    <button class="note-delete-button">Delete</button>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus pharetra nibh id consequat.</p>
        </div>
        <div class="note">
            <div class="note-header">
                <h2>Title of the note</h2>
                <div class="note-actions">
                    <button class="note-edit-button">Edit</button>
                    <button class="note-delete-button">Delete</button>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus pharetra nibh id consequat.</p>
        </div>
        <div class="note">
            <div class="note-header">
                <h2>Title of the note</h2>
                <div class="note-actions">
                    <button class="note-edit-button">Edit</button>
                    <button class="note-delete-button">Delete</button>
                </div>
            </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut maximus pharetra nibh id consequat.</p>
        </div>
    </div>
</div>